Repository bystrogenomics/bystro, pull requests merged in 2023-08, with the labels that each got.

#190 Initialize proteomics module
  python/python/bystro/proteomics/proteomics.py
  python/python/bystro/proteomics/tests/test_proteomics.py
Labels: proteomics

#198 Remove vcf_dir logic from ancestry listener
  python/python/bystro/ancestry/listener.py
  python/python/bystro/ancestry/tests/test_listener.py
Labels: ancestry

#197 ancestry bugfixes: handle prefixless chromosome names, fix pandas performance warning, make AncestryResponse msgspec compatible
  python/python/bystro/ancestry/ancestry_model_products/.gitignore
  python/python/bystro/ancestry/ancestry_types.py
  python/python/bystro/ancestry/inference.py
  python/python/bystro/ancestry/tests/test_ancestry_types.py
  python/python/bystro/ancestry/tests/test_listener.py
  python/python/bystro/ancestry/tests/test_train.py
  python/python/bystro/ancestry/train.py
Labels: bug, ancestry

#207 Fix random.randint call in generate_random_vcf_index flaky test error
  python/python/bystro/vcf_utils/simulate_random_vcf.py
Labels: bug

#209 Fix performance regression in parse_vcf
  python/python/bystro/ancestry/inference.py
  python/python/bystro/ancestry/listener.py
  python/python/bystro/ancestry/train.py
  python/python/bystro/utils/__init__.py
  python/python/bystro/utils/tests/test_timer.py
  python/python/bystro/utils/timer.py
  python/requirements-dev.txt
Labels: bug
